body {
    font-family: Arial, sans-serif;
}

button {
    padding: 10px;
    font-size: 16px;
}

p {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
